* {
	padding: 0;
	margin: 0;
	border: 0 ;
	outline: none ;
	border-collapse: collapse;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
}

// body {
// 	font-family: 'Gilroy', sans-serif;
// 	color: $mainColor;
// }

img {
	max-width: 100%;
}

.container {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}